@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2000 84% 4.9000%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2000 84% 4.9000%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2000 84% 4.9000%);
  --primary: hsl(263 70% 50%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(28 90% 55.0000%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(210 40% 96.1000%);
  --muted-foreground: hsl(215.4000 16.3000% 46.9000%);
  --accent: hsl(210 40% 96.1000%);
  --accent-foreground: hsl(222.2000 47.4000% 11.2000%);
  --destructive: hsl(0 84.2000% 60.2000%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(214.3000 31.8000% 91.4000%);
  --input: hsl(214.3000 31.8000% 91.4000%);
  --ring: hsl(263 70% 50%);
  --chart-1: hsl(263 70% 50%);
  --chart-2: hsl(28 90% 55.0000%);
  --chart-3: hsl(120 70% 40%);
  --chart-4: hsl(40 80% 60%);
  --chart-5: hsl(300 60% 70%);
  --sidebar: hsl(0, 0%, 100%);
  --sidebar-foreground: hsl(222.2000 84% 4.9000%);
  /* --sidebar-primary: hsl(263 70% 50%); */
  --sidebar-primary: hsl(263 70% 50%);
  --sidebar-primary-foreground: hsl(210 20% 98%);
  --sidebar-accent: hsl(263 70% 50%);
  /* --sidebar-accent: hsl(28 90% 55.0000%); */
  --sidebar-accent-foreground: hsl(210 20% 98%);
  --sidebar-border: hsl(214.3000 31.8000% 91.4000%);
  --sidebar-ring: hsl(263 70% 50%);
  --font-sans: Varela Round, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --background: hsl(222.2000 84% 4.9000%);
  --foreground: hsl(210 20% 98%);
  --card: hsl(222.2000 84% 4.9000%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(222.2000 84% 4.9000%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(263 70% 50%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(28 90% 55.0000%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(217.2000 32.6000% 17.5000%);
  --muted-foreground: hsl(215 20.2000% 65.1000%);
  --accent: hsl(217.2000 32.6000% 17.5000%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8000% 30.6000%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(217.2000 32.6000% 17.5000%);
  --input: hsl(217.2000 32.6000% 17.5000%);
  --ring: hsl(263 70% 50%);
  --chart-1: hsl(263 70% 50%);
  --chart-2: hsl(28 90% 55.0000%);
  --chart-3: hsl(120 70% 40%);
  --chart-4: hsl(40 80% 60%);
  --chart-5: hsl(300 60% 70%);
  --sidebar: hsl(220 80% 5%);
  --sidebar-foreground: hsl(210 20% 98%);
  --sidebar-primary: hsl(263 70% 50%);
  --sidebar-primary-foreground: hsl(210 20% 98%);
  --sidebar-accent: hsl(28 90% 55.0000%);
  --sidebar-accent-foreground: hsl(210 20% 98%);
  --sidebar-border: hsl(217.2000 32.6000% 17.5000%);
  --sidebar-ring: hsl(263 70% 50%);
  --font-sans: Varela Round, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 1.25);
  }
} */

body {
  font-family: Varela Round, Helvetica, sans-serif;
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/pattern.png');
  background-size: cover;
  background-position: center;
}

.dark {
  --background: hsl(222.2000 84% 4.9000%);
  --foreground: hsl(210 20% 98%);
  --card: hsl(222.2000 84% 4.9000%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(222.2000 84% 4.9000%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(263 70% 50%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(28 90% 55.0000%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(217.2000 32.6000% 17.5000%);
  --muted-foreground: hsl(215 20.2000% 65.1000%);
  --accent: hsl(217.2000 32.6000% 17.5000%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8000% 30.6000%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(217.2000 32.6000% 17.5000%);
  --input: hsl(217.2000 32.6000% 17.5000%);
  --ring: hsl(263 70% 50%);
  --chart-1: hsl(263 70% 50%);
  --chart-2: hsl(28 90% 55.0000%);
  --chart-3: hsl(120 70% 40%);
  --chart-4: hsl(40 80% 60%);
  --chart-5: hsl(300 60% 70%);
  --sidebar: hsl(220 80% 5%);
  --sidebar-foreground: hsl(210 20% 98%);
  --sidebar-primary: hsl(263 70% 50%);
  --sidebar-primary-foreground: hsl(210 20% 98%);
  --sidebar-accent: hsl(28 90% 55.0000%);
  --sidebar-accent-foreground: hsl(210 20% 98%);
  --sidebar-border: hsl(217.2000 32.6000% 17.5000%);
  --sidebar-ring: hsl(263 70% 50%);
  --font-sans: Varela Round, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -1px hsl(0 0% 0% / 0.50);
  --shadow-md: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 2px 4px -1px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 4px 6px -1px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 0.50), 0rem 8px 10px -1px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(0 0% 0% / 1.25);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
